body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    padding: 20px;
    background-color: #dce1e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

#output {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:active {
    transform: scale(0.9);
}

.button:hover {
    background-color: #2980b9;
}
.button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b0b0b0;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button1:active {
    transform: scale(0.9);
}

.button1:hover {
    background-color: #999797;
}
/* Responsive styles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding:10px;

    }
}
